
<div class="messages-container">
	<%= link_to "New Chat", new_message_path, class: "btn btn-success", id: "new-chat-button" %>

	<h3>Sent Messages:</h3>
	<div class="sent-messages">
		<% @sent_messages.each do |message| %>
			<p>Sent to: <%= Client.find(message.recipient).email %></p>
			<p><%= message.body %></p>
		<% end %>
	</div>

	<h3>Received Messages:</h3>
	<div class="received-messages">
		<% @received_messages.each do |message| %>
			<p>Recevied from: <%= message.client.email %></p>
			<p><%= message.body %></p>
		<% end %>
	</div>	
</div>

